body{
    display: grid;
    grid-template-areas:"header header header header"
                        "hero hero hero hero"
                        "about about about about"
                        "services services services services"
                        "projects projects projects projects"
                        "footer footer footer footer";
    grid-template-columns: repeat(4,1fr);
    font-size: 1 rem;
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
}


/* HEADER */

.header{
    grid-area: header;
    background-color: #fff;
}

.header .header-container{
    display: flex;
    padding: 20px 40px;
    justify-content:space-between;
    align-items: center;
    min-height: 75px; /* altura min para a versão mobile */
}

.header h1{
    font-size: calc(30rem/16);
    font-weight: 700;
    transition: 1s;

}

.header a:hover h1{
    color: coral;
    /* transition: 0.3s; */
}

#menu-hamburguer{
    display: none;
}

/* HERO  */
.hero{
    grid-area: hero;
    background-color: red;

}

/* ABOUT  */
.about{
    grid-area: about;
    background-color: black;

}

/* SERVICES  */
.services{
    grid-area: services;
    background-color: yellow;

}

/* PROJETCS */
.projects{
    grid-area: projects;
    background-color: gray;

}

/* FOOTER */
.footer{
    grid-area: footer;
    background-color: pink;

}
