body {
	display: grid;
	grid-template-areas:
		"header header header header"
		"hero hero hero hero"
		"about about about about"
		"services services services services"
		"projects projects projects projects"
		"footer footer footer footer";
	grid-template-columns: repeat(4, 1fr);
	font-size: 1 rem;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
}

/* HEADER */

.header {
	grid-area: header;
	background-color: #fff;
}

.header .header-container {
	display: flex;
	padding: 20px 40px;
	justify-content: space-between;
	align-items: center;
	min-height: 75px; /* altura min para a versão mobile */
}

.header h1 {
	font-size: calc(30rem / 16);
	font-weight: 700;
	transition: 1s;
}

.header a:hover h1 {
	color: coral;
	/* transition: 0.3s; */
}

/* HERO  */
.hero {
	grid-area: hero;
	height: 89vh;
	background: url("../images/lemons.jpg") center center no-repeat;
	background-size: cover;
	/* background-color: red; */
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.hero::after {
	content: url("../images/seta_preta.png");
	position: absolute;
	/* height: 35px; */
	bottom: 20px;
	animation: downarrow 0.7s infinite alternate ease-in-out;
}

.hero h2 {
	font-weight: 500;
	text-transform: uppercase;
	font-size: calc(40rem / 16);
}

@-webkit-keyframes downarrow {
	0% {
		-webkit-transform: translateY(0);
	}

	100% {
		-webkit-transform: translateY(0.4em);
		opacity: 0.4;
	}
}

@media (max-width: 600px) {
	.hero {
		height: 60vh;
	}

	.hero h2 {
		font-size: 20px;
		/* color: #fff; */
	}

	.hero::after {
		content: "";
        background-image: url(../images/seta_preta.png);
        background-position: bottom;
        background-size: cover;
		display: inline-block;

		/*size of your image*/
		height: 25px;
		width: 25px;
	}
}

/* ABOUT  */
.about {
    display: grid;
    grid-area: about;
    grid-template-columns: 1fr 1fr;
    background-color: #fff;
    /* para normalizar conteudos acimda de 1920 */
    max-width: var(--max-width);
    margin: 0 auto;
}

.about .item{
    padding: 20%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-content: center;
}

.about .item h3 {
    font-weight: 600;
    font-size: var(--21px);
}

.about .item p {
    margin: 25px 0;
    font-weight: 400;
    font-size: var(--18px);
}

.about .item a {
    align-self: flex-start;
}

.about .item .btn-know-more {
    font-weight: 400;
    display: block;
}

.about .item .btn-know-more:hover {
    font-weight: 700;
}



.about .image{
    height: 100%;
    width: 100%;
}


.about .image.right {
    background: url(../images/bridge.jpg) center center no-repeat;
    background-size: cover;
    
}

.about .image.left {
    background: url(../images/sky.jpg) center center no-repeat;
    background-size: cover;
}




@media (max-width: 900px) {
    .about .item {
        text-align: center;
    }

    .about .item a {
        align-self: center;
    }

    .about {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
    }
}

/* SERVICES  */
.services {
    grid-area: services;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

.services .service {
    padding: calc(70rem/16) var(--20px);
}

.services .service img {
    width: 250px;
    margin-bottom: 30px;
}

.services .service h3 {
    font-size: var(--18px);
    font-weight: 700;
}
.services .service p {
    font-size: var(--20px);
    font-weight: 400;
    line-height: 25px;
    max-width: 400px;
    margin: 20px auto 0;
}


.services .service:nth-child(1) {
    background: blueviolet;
}

.services .service:nth-child(2) {
    background-color: lightpink;
}

@media (max-width: 900px) {
    .services {
        grid-template-columns: 1fr;
    }
}

/* PROJETCS */
.projects {
	grid-area: projects;
	background-color: gray;
}

/* FOOTER */
.footer {
	grid-area: footer;
	background-color: pink;
}
